<header>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand">Pathways</a>
			</div>
		</div>
	</nav>
</header>
<main class="menuprincipal">
	<div id="home" class="jumbotron intro bg-img-section">
		<div class="container brand">
			<h1>Metabolic Pathways</h1>
		</div>
	</div>
	<div id="processing" class="container no-img-section">
		<div class="row">
			<form class="file-form" role="form" data-toggle="validator" ng-submit="process()">
				<div>
					<div class="row">
							<img src={{imagenpathway1}} class="imagepathway">
							<img src={{imagenpathway2}} class="imagepathway">
						<div class="col-md-5">
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<h4>Pathway 1 <span class="h6" style="color:grey;">(KEGG KGML - .xml file)</span></h4>
										<div class="input-group">
											<span class="input-group-btn">
												<span class="btn btn-default btn-file">Browse.. 
													<input type="file" (change)="onArchivoSeleccionado($event)">
												</span>
											</span>
											<input value={{nombrepathway1}} type="text" class="form-control pathway-name" readonly>
										</div>
										<div class="help-block with-errors"></div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<h4>Pathway 2 <span class="h6" style="color:grey;">(KEGG KGML - .xml file)</span></h4>
										<div class="input-group">
											<span class="input-group-btn">
												<span class="btn btn-default btn-file">Browse..
													<input type="file" (change)="onArchivoSeleccionado2($event)">
												</span>
											</span>
											<input value={{nombrepathway2}} type="text" class="form-control pathway-name" readonly>
										</div>
										<div class="help-block with-errors"></div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<input type="submit" class="btn btn-success" value="Process Pathways">
								</div>
							</div>
						</div>
						<br>
						<div id="output" class="col-md-7"></div>
					</div>
				</div>
        <div class="container"> <!-- <app-algorithm-selector></app-algorithm-selector> -->
          <div class="row">
            <div class="col-md-7">
              <app-algorithm-selector></app-algorithm-selector>

            </div>
            <div class="col-md-6">
              <!-- Next component can be placed here -->
            </div>
          </div>
        </div>
			</form>
		</div>
	</div>

	</main>
	<footer class="menuprincipal">
		<div class="container">
			<hr>
			<p>&copy; Metabolic Pathways {{anio}}</p>
		</div>
	</footer>
	<script>
			jQuery(function($) {
				$('#form_addjts').submit(function(){
					writeToFile({
						id: $(this).find('.id').val(), 
						content: $(this).find('.content').val()
					});
					return false;
				}); 
				function writeToFile(data){
					var fso = new ActiveXObject("Scripting.FileSystemObject");
					var fh = fso.OpenTextFile("D:\\data.txt", 8);
					fh.WriteLine(data.id + ',' + data.content);
					fh.Close(); 
				} 
			}); 
		</script>
