
.pathway-logo {
  color: #ffffff;
}

.pathway-badge {
  font-size: 30px;
}

.pathway-front {
  margin: 20px auto;
}

.legacy-button {
  background-color: #454545;
}

#Nodes-Parameter-View {
  visibility: hidden;
}
